#include "resource.h"
#include <windows.h>

IDD_MY_GROUPS_DIALOG DIALOGEX 0, 0, 520, 300
STYLE DS_SETFONT | WS_POPUP | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
CAPTION "My Groups"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x0
BEGIN
    PUSHBUTTON      "",IDC_MY_GROUP_BACK,7,7,32,18,BS_ICON
    CONTROL         "",IDC_MY_GROUP_LIST,"SysListView32",LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,32,145,261
    EDITTEXT        IDC_MY_GROUP_SEARCH,160,7,353,18,ES_AUTOHSCROLL
    CONTROL         "",IDC_MY_GROUP_SONG_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,160,32,353,261
END
