#include "resource.h"
#include <windows.h>

IDD_MY_GROUPS_DIALOG DIALOGEX 0, 0, 520, 300
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
CAPTION "My Groups"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x0
BEGIN
    PUSHBUTTON      "",IDC_MY_GROUP_BACK,7,7,32,18,BS_ICON
    LTEXT           "My Groups",IDC_MY_GROUP_TITLE,46,7,106,20,SS_CENTERIMAGE
    CONTROL         "",IDC_MY_GROUP_LIST,"SysListView32",LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_TABSTOP,7,34,145,225
    PUSHBUTTON      "+ New group",IDC_MY_GROUP_NEW_BUTTON,7,267,145,26
    LTEXT           "All songs",IDC_MY_GROUP_COUNT,160,7,120,20,SS_CENTERIMAGE
    PUSHBUTTON      "",IDC_MY_GROUP_PLAY_ALL,285,7,30,20,BS_ICON
    PUSHBUTTON      "",IDC_MY_GROUP_ADD_FILES,320,7,30,20,BS_ICON
    PUSHBUTTON      "",IDC_MY_GROUP_ADD_FOLDER,355,7,30,20,BS_ICON
    EDITTEXT        IDC_MY_GROUP_SEARCH,390,7,123,20,ES_AUTOHSCROLL
    CONTROL         "",IDC_MY_GROUP_SONG_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | WS_TABSTOP,160,34,353,259
END
