#include "resource.h"
#include <windows.h>

IDD_MY_GROUPS_DIALOG DIALOGEX 0, 0, 520, 300
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "My Groups"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x0
BEGIN
    CONTROL         "",IDC_MY_GROUP_LIST,"SysListView32",LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,7,145,286
    EDITTEXT        IDC_MY_GROUP_SEARCH,160,7,353,14,ES_AUTOHSCROLL
    CONTROL         "",IDC_MY_GROUP_SONG_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,160,25,353,268
END
